# Auto detect text files and perform LF normalization
* text=auto

# Audio formats
*.mp3 filter=lfs diff=lfs merge=lfs -text

# Anki Files
*.apkg filter=lfs diff=lfs merge=lfs -text
*.colpkg filter=lfs diff=lfs merge=lfs -text
